<% include partials/header %>

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST">
  <input type="form" name="name" placeholder="name">
  <input type="form" name="image" placeholder="image url">
  <button>Submit!</button>
</form>

<a href="/campgrounds">Back</a>
<br>
<br>
<% include partials/footer %>
