<% include partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="">

<p><%= campground.description %> </p>

  <a href="/campgrounds" class="btn btn-primary btn-lg" role="button">Back</a>

<% include partials/footer %>
